


:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }


  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .image_carousel{
      width: 100%;
      object-fit: cover;
  }

  .mision{
      width: 100%;
      background-color:black;
        color:#ffffff;
        text-align: center;
        font-style: italic;
  }

  .contenido_mision{
    display: flex;
    margin: 0px auto;
    padding: 0 0px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .nosotros{
    width: 100%;
    background-color:gold;
    color: black;
    text-align: center;
    padding: 5vh 0px;
    scroll-margin-top: 5em;
    }

    .contenido_nosotros{
    display: flex;
    margin: 0px auto;
    padding: 0 0px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    }

    
    .row_puntos{
      height: 55vh;
    }

    .punto1{
        background-image:url(../assets/img/mision.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        object-fit: fill;
        height: 100%;
        padding: 0% !important;
    }

    .punto1_color{
        background-color:rgba(0, 128, 0, 0.90);
        height: 100%;
        width: 100%;
        text-align: center;
        font-size:7em;
    }

    

    .punto2{
        background-image:url(../assets/img/vision.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        object-fit: fill;
        height: 100%;
        padding: 0% !important;
    }

    .punto2_color{
        background-color:	rgb(255,215,0,.9);
        height: 100%;
        width: 100%;
        text-align: center;
        font-size:7em;
    }

    .punto3{
        background-image:url(../assets/img/valores.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        object-fit: fill;
        height: 100%;
        padding: 0% !important;
    }

    .punto3_color{
        background-color:rgb(255,165,0,.9);
        height: 100%;
        width: 100%;
        text-align: center;
        font-size:7em;
    }

    .title{
      font-size: 1em;
      padding-top: 15vh;
    }

    .subtitle{
      font-size: .5em;
      padding-top: 10vh;
    }

    .extra{
      padding-top: 15vh !important;
    }
    
    .cuerpo{
      background-image:url('../assets/img/fondo_body.jpg');
      background-size: 100% 100%;
    }


    .titulo{
      font-size: 4em;
      color: white;
      padding-bottom:  5vh;;
      font-weight: bold;
    }
    .Proyectos{
      text-align: center;
      padding-top: 5%;
      scroll-margin-top: 3em;
    }

    .Proyectos h2{
      padding-bottom: 10vh;
      color: white;
      font-weight: bold;
    }

    .proyectos_img {
      border-radius: 50%;
      width: 80%;

    }


    .proyectos_texto1{
      margin: auto;
      margin-top: 10%;
      text-align: center;
      width: 70%;
      background-color:#5BB23A;
      box-shadow: 10px 10px #3a7226 !important ;
      font-size: 1.4em;
      padding: 5% 5%;
      border-radius: 15px;
      min-height: 10vh;
      font-weight: bold;
      color: black;
    }

    .proyectos_texto2{
      margin: auto;
      margin-top: 10%;
      text-align: center;
      width: 70%;
      background-color: #ff8500;
      box-shadow: 10px 10px #b86002 !important ;
      font-size: 1.4em;
      padding: 5% 5%;
      border-radius: 15px;
      min-height: 10vh;
      font-weight: bold;
      color: black;
    }

    .proyectos_texto3{
      margin: auto;
      margin-top: 10%;
      text-align: center;
      width: 70%;
      background-color:#5BB23A;
      box-shadow: 10px 10px #3a7226 !important ;
      font-size: 1.4em;
      padding: 5% 5%;
      border-radius: 15px;
      min-height: 10vh;
      font-weight: bold;
      color: black;
    }

    .Aliados{
      text-align: center;
      padding: 5% 0%;
      scroll-margin-top: 3em;
    }

    .Aliados h2{
      padding-bottom: 10vh;
      color: white;
      font-weight: bold;
    }

    .aliados_img{
      width: 70%;
    }


    .contacto{
      background-color: #ff8500;
      color: white;
    }

    .email_section{
      text-align: center;
    }

    .email_section p{
      font-size: large;
    }

    .email_section input{
      padding: .5vh 0;
      margin: 1vh 0;
      width: 70%;
      border-radius: 15px;
      text-align: center;
      font-size: larger;
      border: none;
    }
  
    .mensaje{
      width: 80%;
      height: 10vh;
      border-radius: 15px;
      font-size: larger;
      height: 200px;
      border: none;
    }

    .enviar{
      background-color: #fee100;
      width: 30% !important;
      color: black;
    }

    .redes{
      text-align: center;
      font-size: x-large;
      color: white;
    }

    .redes a{
      color: white;
    }

    .facebook{
      margin: 5vh 0px;
    }

    .logo_red_face{
      width: 10%;
    }

    .logo_red_ins{
      width: 15%;
    }


    .navar_logo{
      width: 5vw !important;
    }

    .active{
      text-decoration: underline;
      text-decoration-color: #ff8500 ;
      text-decoration-thickness: 3px;
    }

    .nav-item a{
      color:white !important;
      font-size: medium;
    }

    .nav-item{
      padding: 0 3vw;
    }

    .navbar{
      background-color:rgb(58, 58, 58,.1);
      z-index: 16;
    }


    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .gray{
      background-color:rgb(58, 58, 58,1) !important;
    }



    .footer{
      background-color: #868686;
      color: white;
    }

    .info{
      padding-left: 100px;
    }

    .email_footer{
      text-align: end;
      margin-top: 15vh;
    }

    

    .footer_logo{
      width: 20%;
    }

    .row{margin-right: 0px !important;}


    .navbar-nav{
      float: right !important;
      margin-left: auto !important;
      margin-right: 0 !important;
    }


    
  .proy{
    margin-bottom: 2vh;
    }


  .hexagonos{
    background-color: black;
    padding-bottom: 5%;
    color: white;
    scroll-margin-top: 5em;
  } 

  .hexLink{
    color: white !important;
  }
    
  .TitHexagono{
    text-align: center;
    color: white;
    font-size: 4em;
    padding-top: 3%;
    margin-bottom: 3% ;
    }
/*-------------------------------- ----------------------------------------------------------------------------------------------------------------------------------------------*/
  /* Responsive Styles */
  @media screen and (max-width: 1367px) {
    
    .title{
      font-size: .8em;
      padding-top: 0;
    }

    .subtitle{
      font-size: 30%;
      width: 80%;
      margin-left: 10%;
      padding-top: 0 !important;
    }


    .footer_logo{
      width: 40%;
    }

  }  



  @media screen and (max-width: 767px) {
    .hexLink p{
      font-size: 2.5vw;
    }
    
    .row_puntos{
      height: 100%;
    }

    .punto1{
      height: 30vh;
    }
    .punto2{
      height: 30vh;
    }
    .punto3{
      height: 30vh;
    }

    .title{
      font-size: .6em;
    }

    .subtitle{
      display: block !important;
      font-size: 4vw;
      width: 80%;
      margin-left: 10%;
    }

    

    .footer_logo{
      width: 60%;
    }

    .email_footer{
      text-align: center;
      padding-top: 10%;
    }

    .carrousel_images{
      margin-top: 7vh;
    }

    .aliados_img{
      width: 100%;
    }

    .navar_logo{
      width: 10vw !important;
    }

    .email_footer{
      margin-top: 0;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  
